{% extends "layout.html" %}
{% block content %}
    {% for quiz in quizzes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ quiz.author }}</a>
              <small class="text-muted">{{ quiz.date_posted }}</small>
              
            </div>
            <h2><a class="article-title" href="#">{{ quiz.title }}</a></h2>
            <span class="badge badge-primary">TAG!</span>
            <span class="badge badge-secondary">TAG!</span>
            <span class="badge badge-success">TAG!</span>
            <br>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('quiz', quiz_id=quiz.id) }}">Start</a>
          </div>
          
        </article>
        

    {% endfor %}

    
{% endblock content %}
